# Configuración de Flask
FLASK_APP=run.py
FLASK_ENV=development
FLASK_DEBUG=True

# Claves de Seguridad (Cambiar en producción)
SECRET_KEY=super-secret-key-change-this-in-production-12345
JWT_SECRET_KEY=jwt-super-secret-key-change-this-in-production-12345

# Base de Datos
# Desarrollo Local (MySQL)
DATABASE_URL=mysql+pymysql://root:password@localhost:3306/agenda_db
# Producción (PostgreSQL) - Usualmente inyectada dinámicamente
# DATABASE_URL=postgresql://usuario:contraseña@host:puerto/nombre_db
